github "uacaps/PageMenu"
github "onevcat/Kingfisher" ~> 2.0
github "dzenbot/DZNEmptyDataSet"
github "Alamofire/Alamofire"
github "JohnSundell/Unbox"
github "SnapKit/SnapKit"
github "honghaoz/Ji"
github "radex/SwiftyUserDefaults"
github "dongri/OAuthSwift"
github "realm/realm-cocoa"
github "cezheng/Fuzi" ~> 0.3.0
